% if not (page is UNDEFINED or page.is_taxonomy or page.meta.get('disable_comments', False)):

##{{- if .Param "comments" }}
<section class="comments">
    <form id="comment-form">
        <label for="comment-input">Your Comment:</label>
        <textarea name="comment-input" id="comment-input"></textarea>

        <div id="captcha-container"></div>

        <div class="captcha-answer">
            <label for="answer-input">Captcha Answer:</label>
            <input type="text" id="answer-input" />
        </div>

        <input type="submit" value="Post Comment" />
    </form>

    <div id="comment-error" class="hidden"></div>

    <div id="comment-list"></div>
</section>
##{{- end }}

% endif
