<nav class="menu">
    <button class="menu__btn" aria-haspopup="true" aria-expanded="false" tabindex="0">
        <span class="menu__btn-title" tabindex="-1">Menu</span>
    </button>
    <ul class="menu__list">
        ##{{- $currentNode := . }}
        ##{{- range .Site.Menus.main }}
        ##{{- if .Name }}

        % for p in taxonomies['main-menu']['endpoint'].child_pages:

        <li class="menu__item ${ 'menu__item--active' if url == p.url else ''}">
            <a class="menu__link" href="${p.url}">
                <span class="menu__text">${p.meta['title']}</span>
            </a>
        </li>

        % endfor

        ##{{- end }}
        ##{{- end }}
    </ul>
</nav>
##{{ else -}}
##<div class="divider"></div>
##{{- end }}
