##<%page args="page"/>

<%
    p_page = page.paginator_page
    SLOTS = 10 # number of page link buttons to show including current page
%>

<%doc>
items: ${[x.url for x in p_page.items]}<br/>
page_num: ${p_page.page_num}<br/>
start_index: ${p_page.start_index}<br/>
end_index: ${p_page.end_index}<br/>
prev_endpoint: ${p_page.prev_endpoint.url if p_page.prev_endpoint else None}<br/>
next_endpoint: ${p_page.next_endpoint.url if p_page.next_endpoint else None}<br/>
num_items_on_page: ${p_page.num_items_on_page}<br/>
--- <br>
paginator.items: ${[x.url for x in p_page.paginator.items]}<br>
paginator.per_page: ${p_page.paginator.per_page}<br>
paginator.total: ${p_page.paginator.total}<br>
paginator.num_of_pages: ${p_page.paginator.num_of_pages}<br>
paginator.gen_all_pages: ${[x.url for x in p_page.paginator.gen_all_page_endpoints(p_page.page_num, 3)]}
</%doc>


##{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}

% if p_page.paginator.num_of_pages > 1:

<div class="pagination">
    ##{{- if .Paginator.HasPrev }}

    % if p_page.has_prev:
    <a class="pagination__item pagination__item--prev btn" href="${p_page.prev_endpoint.url}">«&thinsp;Previous</a>
    % endif
    ##{{- end }}

    ##<span class="pagination__item pagination__item--current">${p_page.page_num}/${p_page.paginator.num_of_pages}</span>


    % for p in p_page.paginator.gen_all_page_endpoints(p_page.page_num, SLOTS):
        % if p is page:
            <span class="pagination__item pagination__item--current">${p.page + 1}/${p_page.paginator.num_of_pages}</span>
        % else:
            <a class="pagination__item btn" href="${p.url}">${p.page + 1}</a>
        % endif
    % endfor


    ##{{- if .Paginator.HasNext }}

    % if p_page.has_next:
    <a class="pagination__item pagination__item--next btn" href="${p_page.next_endpoint.url}">Next&thinsp;»</a>
    ##{{- end }}
    % endif
</div>

% endif
##{{ end }}
