##{{- if .Param "post_navigation" }}

<% date_obj = page.meta.get('date') %>

% if date_obj:

## CONTINUE HERE

##{{- if or (.PrevInSection) (.NextInSection) }}
% if page.prev or page.next:

<nav class="post-nav flex">
    ##{{- if .PrevInSection }}

    % if page.prev:
    <div class="post-nav__item post-nav__item--prev">
        <a class="post-nav__link" href="${page.prev.url}" rel="prev"><span class="post-nav__caption">«&thinsp;Previous</span><p class="post-nav__post-title">${page.prev.meta['title']}</p></a>
    </div>
    % endif

    ##{{- end }}


    ##{{- if .NextInSection }}

    % if page.next:
    <div class="post-nav__item post-nav__item--next">
        <a class="post-nav__link" href="${page.next.url}" rel="next"><span class="post-nav__caption">Next&thinsp;»</span><p class="post-nav__post-title">${page.next.meta['title']}</p></a>
    </div>
    % endif

    ##{{- end }}
</nav>
##{{- end }}



##{{- end }}
% endif

% endif
