

##{{- if .Params.tags }}


<%
    topics = {k:v for k,v in taxonomies.items() if v['top_level'] == 'topics'}
    topics_for_page = set(topics).intersection(page.taxonomies)
%>

% if topics_for_page:


<div class="post__tags tags clearfix">
    ##{{ partial "svg/tag.svg" (dict "class" "tags__badge") }}
    <svg class="tags__badge icon icon-tag" width="16" height="16" viewBox="0 0 32 32"><path d="M32 19c0 1-1 2-1 2L21 31s-1 1-2 1-2-1-2-1L2 16c-1-1-1.4-2-1.4-2S0 12.5 0 11V3C0 1.5.8.8.8.8S1.5 0 3 0h8c1.5 0 3 .6 3 .6S15 1 16 2l15 15s1 1 1 2zM7 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/></svg>

    <ul class="tags__list">
        ##{{- range .Params.tags }}
        % for topic in topics_for_page:
        <% topic_p = taxonomies[topic]['endpoint'] %>
        <li class="tags__item"><a class="tags__link btn" href="${topic_p.url}" rel="tag">${topic_p.meta['title']}</a></li>
        % endfor
        ##{{- end }}
    </ul>
</div>
##{{- end }}

% endif
