##<%
    ##series = {k:v for k,v in taxonomies.items() if v['top_level'] == 'series'}
    ##series_for_page = set(series).intersection(page.taxonomies)
##%>

<%
    ##series = {k:v for k,v in taxonomies.items() if v['top_level'] == 'series'}
    ##series_for_page = set(series).intersection(page.taxonomies)
    series_for_page = page.get_taxonomy_group('series')
%>




##{{- /* If it is part of a series, link to related articles */}}
##{{- $permalink := .Permalink }}
##{{- $part := .Params.part }}
##{{- $siteSeries := .Site.Taxonomies.series }}{{ with .Params.series }}
##{{- range $name := . }}
  ##{{- $series := index $siteSeries ($name | urlize) }}
  ##{{- $total_series := $series | len }}

## TODO should only be one, enforce this

% for series_p in series_for_page:

<%
    ##series_p = taxonomies[series]['endpoint']
    children = series_p.child_pages
%>

    % if children:

  <div class="related__series">Also in this series:</div>

  <ul>
        % for part_p in children:
  ##{{- range $page := $series.Pages.Reverse }}
    ##{{- if ne $page.Permalink $permalink }}

            % if part_p is not page:
    <li><a href="${part_p.url}">Part ${part_p.taxonomies[series_p.slug]}: ${part_p.title}</a></li>
            % endif
    ##{{ end }}
  ##{{- end }}
        % endfor
  </ul>
##{{ end }}{{ end }}

% endif

% endfor

