<%page args="item"/>

##{{- if not .Date.IsZero }}
<% date_obj = item.meta.get('date') %>

% if date_obj:

<%
    strftime = date_obj.strftime('%Y-%m-%d')
    human = date_obj.strftime('%b %-d, %Y')
%>

<div class="meta__item-datetime meta__item">
    <svg class="meta__icon icon icon-time" width="16" height="14" viewBox="0 0 30 28"><path d="M15 0C7 0 1 6 1 14s6 14 14 14 14-6 14-14S23 0 15 0zm0 25C9 25 4 20 4 14S9 3 15 3s11 5 11 11-5 11-11 11zm1-18h-2v8.4l6.8 4.4L22 18l-6-3.8V7z"/></svg>
    <time class="meta__text" datetime="${strftime}">${human}</time>
    ##{{- if ne .Date .Lastmod }}
    ##<time class="meta__text" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}"> ({{ T "meta_lastmod" }}: {{ .Lastmod.Format ( .Site.Params.dateformat | default "January 02, 2006") }})</time>
    ##{{- end }}
</div>
##{{ end -}}

% endif




##{{- $taxo := "categories" -}}
##{{- with .Param $taxo }}

##set   set(taxonomies['categories']['children'])

<%
    #categories = {k:v for k,v in taxonomies.items() if v['top_level'] == 'categories'}
    #cats_for_page = set(categories).intersection(page.taxonomies)
    cats_for_page = item.get_taxonomy_group('categories')
%>

% if cats_for_page:

<div class="meta__item-categories meta__item">
    <svg class="meta__icon icon icon-category" width="16" height="16" viewBox="0 0 16 16"><path d="m7 2l1 2h8v11h-16v-13z"/></svg>
    <span class="meta__text">
        ##{{- range $index, $category := . }}
            ##{{- $url := urls.Parse ($category | urlize) -}}
            ##{{- $path := $url.Path -}}
            ##{{- with $.Site.GetPage (printf "/%s/%s" $taxo $path) }}
                ##{{- if gt $index 0 }}, {{ end -}}

            % for cat_p in cats_for_page:
                ##<% cat_p = taxonomies[cat]['endpoint'] %>
                <a class="meta__link" href="${cat_p.url}" rel="category">${cat_p.title}</a>${',' if not loop.last else ''}
            % endfor

            ##{{- end }}
        ##{{- end }}
    </span>
</div>
##{{- end }}

% endif




<%
    #series = {k:v for k,v in taxonomies.items() if v['top_level'] == 'series'}
    #series_for_page = set(series).intersection(page.taxonomies)
    series_for_page = item.get_taxonomy_group('series')
%>

% if series_for_page:
    <div class="meta__item-series meta__item">
        <svg class="meta__icon icon icon-files" width="96" height="96" viewBox="0 0 384 384"><path d="m368 64h-224-16v16 288 16h16 224 16v-16-288-16zm-16 288h-192v-256h192zm-320-320h192v16h32v-32-16h-16-224-16v16 288 16h16 96v-32h-80zm144 272h160v-32h-160zm0-64h160v-32h-160zm0-64h160v-32h-160zm-128 64h64v-32h-64zm0-64h64v-32h-64zm0-64h64v-32h-64z"/></svg>
          <span class="meta__text">Series:

            % for series_p in series_for_page:
                <%
                    #series_p = taxonomies[series]['endpoint']
                    part = item.taxonomies[series_p.slug]
                    total = len(series_p.child_pages)
                %>
                <a href="${series_p.url}">${series_p.title} (Part ${part} of ${total})</a>${',' if not loop.last else ''}
            % endfor

        </span>

    </div>


% endif

