<%page args="item"/>

##% for p in page.paginator_page.items:

<article class="list__item post">
    ## TODO
    ##{{- if .Params.thumbnail }}

##{{- range split (.Params.thumbnail.src | path.Split) "|" -}}
    ##{{- $.Scratch.Set "thumbnail_name" . -}}
##{{- end -}}


##{{- .Scratch.Set "thumbnail_image" (.Params.thumbnail.src | relURL) -}}
##{{- $original := .Resources.GetMatch (printf "**%s" (.Scratch.Get "thumbnail_name")) -}}
##{{- with $original -}}
##{{- $resizeresult := $original.Resize "235x" -}}
##{{- $.Scratch.Set "thumbnail_image" $resizeresult.RelPermalink -}}
##{{- end -}}

##{{- $image := .Scratch.Get "thumbnail_image" }}

    ##<figure class="list__thumbnail">
        ##<a href="{{ .Permalink }}">
            ##<!--<img src="{{ .Params.thumbnail.src | relURL }}" alt="{{ .Title }}" />-->
            ##<img src="{{ $image }}" alt="{{ .Title }}" />
        ##</a>
    ##</figure>
    ##{{- end }}

    <header class="list__header">
        <h3 class="list__title post__title ">
            <a href="${item.url}" rel="bookmark">${item.title}</a>
        </h3>

        <% lead = item.root.collectors.get('lead') %>
        ##{{- with .Params.lead }}
        % if lead:
        <p class="list__lead post__lead">${lead[0]}</p>
        % endif
        ##{{- end }}

<div class="list__meta meta">
##{{ partial "post_meta.html" . }}

<%include file="/partials/post_meta.html" args="item=item"/>

##{{- /* If it is part of a series, link to series */}}
##{{- $siteSeries := .Site.Taxonomies.series }}
##{{- $part := .Params.part }}
##{{- with .Params.series }}
##{{- range $name := . }}
  ###{{- $series := index $siteSeries ($name | urlize) }}
  ##{{- $total_series := $series | len }}
  ##<div class="meta__item-series meta__item">
  ##{{ partial "svg/files.svg" (dict "class" "meta__icon") }}
  ##<span class="meta__text">Series: <a href="/series/{{ $name | urlize }}/">{{ $name }}{{if $part }} (Part {{ $part }} of {{ $total_series }}){{ end }}</a></span></div>
##{{ end }}{{ end }}

</div>




    </header>
    <div class="content list__excerpt post__content clearfix">
        ##{{ .Summary }}
        TODO: SUMMARY HERE
    </div>
    ##{{- if .Site.Params.readmore }}
    ##{{/*- if .Truncated */}}
    <div class="list__footer clearfix">
        <a class="list__footer-readmore btn" href="item.url">Read More</a>
    </div>
    ##{{/*- end */}}
    ##{{- end }}
</article>
##% endfor
